  .checkout-container {
    display: flex;
    justify-content: center; /* Centra las columnas en la página */
    gap: 2rem; /* Ajusta el espacio entre columnas */
  }
  
  .checkout-container .card {
    width: 100%; /* Asegura que las columnas ocupen todo su espacio asignado */
    max-width: 500px; /* Evita que las columnas se ensanchen demasiado */
  }
  
  .container {
    max-width: 1200px; /* Limita el ancho máximo del contenedor */
  }
  